#Mybody {
    background-image: url("background.jpg");
    background-size: 100%;
}

.container {
    background-color: darkgray;
}

#LoginArea {
  text-align: center;
  margin-top: 10%;
  height:60%;
  width: 40%;
  padding-top: 50px;
  padding-bottom: 50px;

}