#banner {
    text-align: center;
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    color:white;
    padding-top: 20%;
    padding-bottom: 20%;
}

.flex-container {
    display: flex;
    background-color: 0E0D1A;
}

#socialMedia {
   height: 40px;
   padding-left: 100%;
}

#Title {
    font-family: Arial;
    font-size: 600%;
    border: 2px solid red;
    color: white;
}

#festival {
    color:black;
    font-size: 30px;
    padding-left: 130px;
}

.flex-child { 
    padding-right: 200px;
}

#MainLink {
    font-family: Arial;
    font-size: 20px;
    padding-top: 100px;
    color:black;
}

#Header {
    padding-top: 20px;
    padding-bottom: 20px;
}

#socialMediaLink {
    text-align: right;
}

#MenuIcon {
    height: 40px;
    padding-bottom: 10px;
    margin-top: 9px;
}

#TicketsButton {
    color:darkorange;
}